

body {
	background-color: skyblue;
	text-align: center;
}

h2 {
	margin-top: 1%;
	font-size: 3em;
	font-family: helvetica;
	color: white;
}
.controls {
	font-size: 3em;
	font-family: helvetica;
	color: white;
}

img {
	border-style: solid;
	border-color: var(--base);
	border-width: var(--spacing);
	margin-top: 5%;
	filter: blur(var(--blur));
}